// ## Colors

$Blue: #15273F;
$BlueDark: #0D1A2D;
$BlueLight: hsl(178, 100%, 50%);
$White: #FFFFFF;
$Purple: hsl(215, 51%, 70%);

// BreakPoints

$breakpoint-small: 728px;
$breakpoint-medium: 1098px;


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap');